* {
    margin: 0;
    padding: 0;
}
 
body {
    background-color: black;
    height: 100vh;
}

header {
    display: flex;
    flex-flow: row nowrap;
    background-color: orangered;
    justify-content: center;
    color: white;
    padding: 20px;
}

section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
}
.left-bar {
    flex-grow: 2;
    text-align: center;
    background-color: rgb(0,132,265);
    color: white;
    padding: 20px;
    height: 500px;
}

.main-content {
    flex-grow: 4;
    text-align: center;
    background-color: rgb(91,39,160);
    color: white;
    padding: 20px;
    
}

.right-bar {
    flex-grow: 2;
    text-align: center;
    background-color: green;
    color: white;
    padding: 20px;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    background-color: pink;
    justify-content: center;
    color: white;
    padding: 20px;
}