* {
  margin: 0;
  padding: 0;
  font: bold 24px arial, helvetica, sans-serif;
  color: white;
}

.wrapper {
  height: 100vh;
  background-color: white;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 28% 28% 28% auto;
  grid-template-rows: 15% 20% auto 10%;
  grid-gap: 5px;
}
header {
  grid-column: 1 / 5;
  display: grid;
  background-color: rgb(75, 0, 75);
}

header div {
  justify-self: end;
  width: 80px;
  height: 60px;
  margin: auto 10px;
  padding: 5px;
  background-color: rgb(155, 20, 155);
}

section {
  grid-column: 1 / 4;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

section div {
  padding: 10px;
}

section :nth-child(1) {
  background-color: rgb(38, 6, 182);
}

section :nth-child(2) {
  background-color: rgb(71, 38, 182);
}

section :nth-child(3) {
  background-color: rgb(87, 60, 240);
}

aside {
  grid-column: 4 / 5;
  grid-row: 2 / 4;
  background-color: rgb(42, 72, 216);
}
article {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  padding: 10px;
  background-color: rgb(125, 125, 238);
}

footer {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    padding: 10px;
    background-color: rgb(75, 3, 75);
}
